.cart__name-link {
	color: #1855a0;
}

.shop_table thead {
	background-color: rgba(0, 0, 0, 0.02);
}

.woocommerce table.shop_table {
	margin-bottom: 15px;
	border-radius: 0;
}

table.shop_table th {
	color: #444;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background: #eee;
	color: #444;
	border-radius: 0;
	font-weight: 400;
	padding: 8px 18px;
	line-height: 20px;
	font-size: 14px;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: 35%;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	padding: 12px 18px;
	background: #2d5c88;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	border: none;
	transition: background 0.25s ease-out;
}

.cart_totals > h2 {
	margin: 10px 0;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 3.2rem;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: #2b69a2;
	color: #fff;
}

form .form-row {
	padding: 3px 0 6px;
}

.woocommerce form .form-row-first, .woocommerce-page form .form-row-first {
	width: 100%;
	float: left;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	padding: 10px;
	border: 1px solid #999;
}

.woocommerce form .form-row label {
	font-weight: 700;
}

.woocommerce .checkout h3 {
	margin: 10px 0;
	font-family: 'Lato';
	font-size: 28px;
	line-height: 40px;
	font-weight: 400;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: #f2f2f2;
	background: rgba(0,0,0,.01);
	border: 1px solid #dfdfdf;
	border-color: rgba(0,0,0,.07);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
	padding: 0 10px;
}

#add_payment_method #payment div.payment_box p:last-child, .woocommerce-cart #payment div.payment_box p:last-child, .woocommerce-checkout #payment div.payment_box p:last-child {
	line-height: 35px;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	margin-top: 5px;
	text-transform: uppercase;
}

.woocommerce .woocommerce-order h2 {
	margin: 10px 0;
	font-family: 'Lato';
	font-size: 32px;
	font-weight: 400;
	color: #333333;
}

.woocommerce .woocommerce-table__product-name a {
	color: #1855a0;
}

.stock.in-stock {
	color: #118c11;
}

.stock.out-of-stock {
	color: red;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	color: #fff;
	background: 0 0;
	display: flex;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	background: #1855a0;
	color: #fff;
}

.woocommerce a.added_to_cart {
	padding: 10px 0;
}

.woocommerce div.product {
	margin-bottom: 20px;
}

.featured-products .catalog__products {
	margin-top: 10px;
}


/* Adaptive */
/* .featured-products__list .catalog__products {
	margin-top: 0;
}

@media (max-width: 1024px) {
	.catalog__products>.product {
		margin-bottom: 20px !important;
	}
	.catalog .head-page {
		flex-direction: column !important;
		align-items: flex-start !important;
	}
	.catalog .head-page__left {
		padding-bottom: 20px !important;
	}
	.catalog .head-page__right {
		width: 100% !important;
	}
	.head-page__form {
		width: 100% !important;
	}
	.head-page__sort {
		margin-bottom: 18px !important;
	}
	.head-page__result {
		margin-top: 15px !important;
	}
	.breadcrumbs {
		align-self: flex-end !important;
	}
	.galery-card__img {
		max-width: 100% !important;
		height: auto !important;
	}
	.card__content {
		flex-direction: column !important;
	}
	.card__galery {
		display: flex !important;
    flex-direction: column !important;
	}
	.galery-card__link {
		margin: 10px 0 !important;
	}
	.info-card {
		width: 100% !important;
	}
	.info-card__submit {
		margin-left: 10px;
		width: 100% !important;
	}
	.product-quantity {
		display: flex !important;
		justify-content: space-between !important;
	}
	.info-card__amount {
		margin-right: 0 !important;
	}
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
		width: 100% !important;
	}
	.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
		width: 100% !important;
		text-align: center !important;
	}
	.head-page__title {
		font: 400 32px/1 Lato !important;
	}
	#add_payment_method #payment div.payment_box p:last-child, .woocommerce-cart #payment div.payment_box p:last-child, .woocommerce-checkout #payment div.payment_box p:last-child {
		padding: 10px 0 !important;
		line-height: 15px !important;
	}
	.page td {
		padding-right: 50px !important;
	}
	.page td:last-child {
		padding-right: 0 !important;
	}
} */